<!-- start custom footer snippets
<div class="citation">
  <p>Citation du moment : "Il me faut écrire comme il me faut nager" Albert CAMUS </p>
</div>
 -->

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<!-- <div class="partenaire"> 
  <p>Nos partenaires</p>
</div>

<div class="pied5">
    <a href="https://www.lyonsauvetagemetropole.fr/"><img src="" alt="logo_LSM"></a>
   
  </div>
 --> 
  
  <div class="pied">
    
    <div class="pied2">
      <div class="pied1">
          <h2><a href="/nataquaLecons/">Leçons de natation</a></h2>
              <p><a href="/nataquaLecons/#nataquaLecons/">Apprendre à nager</a></p>
              <p><a href="/nataquaLecons/#nataquaSafe/">Nataqua' Safe</a></p>
              <p><a href="/nataquaLecons/#nataquaJunior/">Nataqua' Junior</a></p>
              <p><a href="/nataquaLecons/#nataquaAdulte/">Nataqua' Adulte</a></p>
              <p><a href="/nataquaLecons/#testDiplomes/">Tests et diplômes de natation</a></p>
              <!-- <p><a href="/sports/stages/">Stages</a></p> -->
      </div>
      <div class="pied1">
        <h2><a href="//">Cours thématiques</a></h2>
        <p><a href="/nataquaCours/#nataquaCours/">Nataqua' Cours</a></p>
        <p><a href="/nataquaCours/#nataquaPerf/">Nataqua' Perf</a></p>
        <p><a href="/nataquaCours/#nataquaRescue/">Nataqua' Rescue</a></p>
        <p><a href="/nataquaCours/#nataquaBac/">Nataqua' Bac</a></p>
        <p><a href="/nataquaCours/#nataquaGym/">Nataqua' Gym</a></p>
        <p><a href="/nataquaCours/#nataquaSante/">Nataqua' Santé</a></p>
        <p><a href="/nataquaCours/#nataquaPhobie/">Nataqua' Phobie</a></p>
      </div>
      <div class="pied1">
        <h2><a href="/infoPratiques/">Informations pratiques</a></h2>
            <p><a href="/infoPratiques/#fonctionnement">Fonctionnement</a></p>
            <p><a href="/infoPratiques/#questionsFrequentes">Questions fréquentes</a></p>
            <p><a href="/infoPratiques/#nousTrouver">Lieux et secteurs d'intervention</a></p>
            <p><a href="/infoPratiques/#tarifs">Nos tarifs</a></p>
            <p><a href="/infoPratiques/#charte">Charte</a></p>
      </div>    
      <div class="pied1">
        <h2><a href="/nataquaTraining/">Nataqua' Training</a></h2>
        <h2><a href="/nataquaBlog/">Nataqua' Blog</a></h2>
        <h2><a href="/nataqualyon/">Nataqua' Lyon : collectif</a></h2>
        <h2><a href="/actualite/">Actualités</a></h2>
        <h2><a href="/contact/">Nous contacter</a></h2>
            
      </div>
            
    </div>
    </div>
   
  </div>
  
<!-- end custom footer snippets -->
