/*==================== splash page accueil ========================= */
.page__hero1--overlay {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    margin-bottom: 0px;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page__hero1-image {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
  }

.page__hero1--overlay page__lead {
    margin-bottom: 100px;
}

.page__hero1--overlay .wrapper {
    color: white;
    display: block;
    margin-bottom: 150px;
    max-width: 1280px;
    padding-left: 1em;
    padding-right: 1em;
}

.page__hero1--overlay h1 {
    font-size: 2.5em;
}

.logoSplash {
    display: flex;
    justify-content: center;

}

.logoSplash img {
    margin-top: -170px;
    z-index: 10;
}

.feature__item--center {
   padding-top: 30px;
}

/*==================== splash page secondaire ========================= */

.page__hero--overlay {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    margin-bottom: 0px;
    margin-top: 0;
}


.feature__wrapper {
    border-bottom: none;
}

#archive__item-body1 {
    height: auto;
    margin-bottom: 20px;
}

/* Position du titre et de l'excerpt dans bandeau */
#conteneur.wrapper {
    justify-content: center;
    
}



p.page__lead {
    text-align: center;
    font-family: gilroy, Arial, sans-serif;
}

/* =================== Centrer excerpt page d'accueil ================= */

.page__hero--overlay .wrapper {
    display: block;
}

.page__hero--overlay .page__lead {
    max-width: 90%;
}


/* =========================================================*/
/* ================= Page d'accueil ========================*/
/*==========================================================*/

.page__hero--overlay {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    margin-bottom: 20px;
}



p.page__lead {
    text-align: center;
    font-family: Arial, sans-serif;
}

.feature__item--center .archive__item .archive__item-body {
    width: 95%;
}



/*=============== Couleur des éléments du menu et toggle menu ==========*/
.navicon, .navicon::before, .navicon::after {
    background-color: #026dc6;
}

.greedy-nav__toggle:hover .navicon, .greedy-nav__toggle:hover .navicon::before,.greedy-nav__toggle:hover .navicon::after {
    background-color:rgba(2, 109, 198, 0.5);
}


/* ======== couleur des barres hover sous les leins barre menu ==========

.greedy-nav .visible-links a::before {
    background-color:red;
}
 */


/* ================  barre de navigation sticky ======================= */

.masthead {
    background-color: rgba(250, 250, 250, 0.7) ;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    margin-bottom: 0px;
 }

 li.masthead__menu-item  {
    color:rgba(2, 109, 198, 1);
    font-size: large;
    font-weight: bold;
}


.greedy-nav {
    background-color: rgba(0, 0, 0, 0);
}

a.site-title {
    color: #026dc6;
    font-size: xx-large;
}
.greedy-nav a:hover {
    color:rgba(2, 109, 198, 0.5)
}


.fa, .fas {
    color: #026dc6;
}



/* =========================  Barre de navigation non sticky =================== */

.masthead2 {
    background-color: rgba(2, 109, 198, 0.5);
    padding-bottom: 5px;
    margin-bottom: 5px;
}


/* ================   barre de navigation secondaire : Actualités, Nous rejoindre... ============= */
.masthead__inner-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-content: flex-end;
    
}
nav#site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}


/* =========  Barre de navigation organisée en 3 éléments : logo / barre secondaire / barre principale dans le bloc nav ========== */

.logo2 {
    z-index: -1;
    margin-top: -20px;
 }

.menu3 {
    display: flex;
    align-self: flex-end;
}

.masthead__menu2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.site-nav {
    flex-grow: 1;  /* donne toute la place restante à la div */
}

.visible-links ::hover {
    display: flex;
    justify-content: flex-end;
}

.site-nav2 {
    font-size: 0.7em;
}

#site-nav2 {
    margin-bottom: 0px;
    height: 25px;
}

.greedy-nav .visible-links a {
    color: #026dc6;

}


/* ================================ Menu deroulant ================================== */
.child-link {
    font-size: 0.8em;
}

.dropdownmenu ul {
	display: none;
}
.dropdownmenu a {
	display: block;
   }


.dropdownmenu li:hover ul {
  display: block ;
  position: absolute; 
  box-shadow: 0 0 10px white ;
}

.dropdownmenu ul li {
  background-color: rgba(249, 206, 16, 0.9); /* Couleur d'arriere-plan des sous-menu */
  padding: 8px 0;
}

li.child-link a:hover {
    color: rgba(2, 109, 198, 0.7);
}

.navigation-fixe {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    z-index: 10;             /* profondeur de la div */
}

#wsweet1 {
    display: flex;
}
.wsweet12 {
    margin: 50px;
}


h1#page-title.page__title.p-name a.u-url {
    color: #292f6b;
    animation: none;
    text-decoration: none;
}

/* ========== couleur boutons =======*/
a.btn.btn--primary {
    background-color: #026dc6;
}

a.btn.btn--danger {
    color: #f9ce10;
    background-color:#026dc6;
}

/* ========================== Footer ==========================*/
/* ========== footer ============== */

.citation {
    display: flex;
    justify-content: center;
    
    
}

.citation p {
    color:#292f6b;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: medium;
    font-weight: bold;
}

.partenaire {
    display: flex;
    justify-content: center;
    
    
}

.partenaire p {
    color:#292f6b;
    margin: 3px;
    padding: 3px;
    font-size: medium;
    font-weight: bold;
}


.pied {
    color:#292f6b;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
 

.pied2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pied3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pied1 {
    font-size: small;
    padding-left: 20px;
}

.page__footer-copyright {
    display: flex;
    justify-content: center;
}

.page__footer-follow {
    display: flex;
    justify-content: space-evenly;
}


.social-icons .fas, .social-icons .fab, .social-icons .far, .social-icons .fal {
    color: white;
}


.pied5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
 }

 .pied5 img {
    height: 60px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

}

.page__footer-copyright a {
    margin-left: 3px;
}